<div class="body">
<app-navbar></app-navbar>

<div class="searchbar">
  <input type="text" [(ngModel)]="district" class="search" placeholder="Enter location district">
  <button (click)="search()" class="searchbtn">Search</button>
</div>

<div class="cards">

  <div class="sorry" *ngIf="filteredProperties.length === 0">
    <h4 >Sorry! No property found in this area.</h4>
  </div>

  <div class="card" *ngFor="let property of filteredProperties">
    <div class="card-body">
      <img class="card-img" src="/viewproperty.jpg" alt="">
      <h4 class="card-title">{{property.type}}</h4>
      <p class="card-text">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
        </svg> 
        {{property.location}}
      </p>
      <h4 style="font-weight: 600;" class="card-text">{{property.price}}</h4>
      <div class="checkbtn">
        <a  class="btn btn-primary" (click)="sendEmail(property)">Check it out</a>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</div>