.cards {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 70px;
    text-align: center;
}

.card {
    margin: 2%;
    background-color: rgba(128, 128, 128, 0.377);
    margin-bottom: 2px;
    
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.search {
    width: 30%;
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.158);
    border: none;
    margin-right: 10px;
}

.searchbtn {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.searchbtn:hover {
    background-color: #0056b3;
}

.card-body {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
}

.card-title {
    background-color: #007BFF;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.body {
    background-color: rgba(128, 128, 128, 0.377);
}

.checkbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}



