<app-navbar></app-navbar>

<div>
    <h1 class="heading">Tell us What you are looking for?</h1>
    <div class="cards">
        <div class="card" style="width: 18rem;" routerLink="/listings">
            <img src="/viewproperty.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Listings</h4>
               
            </div>
          </div>

          <div class="card" style="width: 18rem;" routerLink="/agent">
            <img src="/customers.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Agent</h4>                  
            </div>
          </div>

          <div class="card" style="width: 18rem;" routerLink="/aboutus">
            <img src="/searchproperty.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>About us</h4>                  
            </div>
          </div>
         
    </div>
    <app-footer></app-footer>