.banner {
    
    background-image: linear-gradient(rgba(4, 9, 30, 0.861),rgba(4, 9, 30, 0.842)), url('/aboutimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 200vh;
    width: 100%;
    

    
}

.content {
    text-align: center;    
    color: #fff;
    font-size: 20px;
}

.para{
    text-align: center;
    color: #fff;
    font-size: 15px;    
    margin: 5%;
    text-align: justify;
}

.heading{
    text-align: left;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-top: 5%;
    margin-left: 5%;
    padding: 2%;
    
}

.img {
    width: 50%;
    height: 50%;
}





