<div class="banner">
    <app-navbar></app-navbar>

    <div class="content">
        <h1 class="heading">About us</h1>
        <table>
            <tr>
                <td>
                    <p class="para">Welcome to UrbanNest, your premier destination for modern, stylish, and functional urban living solutions. At UrbanNest, we believe that your home is more than just a place to live – it's a reflection of your lifestyle, your personality, and your aspirations.

                        Our mission is simple: to create spaces that inspire, comfort, and connect you with the heart of the city. We specialize in offering a curated selection of apartments, condos, and living spaces in vibrant urban areas, all designed with a perfect balance of style and convenience. Whether you're searching for your first home, a luxury retreat, or a space that suits your busy, city-centered life, UrbanNest is here to help you find the perfect fit.
                        
                        Our team of real estate professionals and designers are passionate about enhancing your urban experience. We focus on providing exceptional customer service and offering expert advice to guide you through every step of your journey, from finding the right home to making it truly yours.
                        
                        Explore UrbanNest, where modern living meets thoughtful design, and discover the space where your urban lifestyle can thrive.</p>
            
               
                </td>
                <td>
                    <img class="img" src="/aboutimg.jpg" alt="">
                </td>
            </tr>
        </table>
    </div>

    
    <app-footer></app-footer>       
</div>
